@model AutobusesSese.Models.Rutas

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estas seguro que deseas eliminar esta ruta?</h3>
<div>
    <h4>Rutas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Km)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Km)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tiempo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tiempo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Ciudades.NombreCiudad)*@
            <label>Ciudad Origen</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudades.NombreCiudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ciudades1.NombreCiudad)
        </dt>

        <dd>
           @* @Html.DisplayFor(model => model.Ciudades1.NombreCiudad)*@
            <label>Ciudad Destino</label>
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
