@model AutobusesSese.Models.Rutas

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Rutas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Km)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Km)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tiempo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tiempo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Ciudades.NombreCiudad)*@
            <label>Ciudad Origen</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudades.NombreCiudad)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Ciudades1.NombreCiudad)*@
            <label>Ciudad Destino</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudades1.NombreCiudad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
